/* styles/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom CSS styles go here */

body{
    font-family: 'Ubuntu', sans-serif;
}
