/* styles/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom CSS styles go here */

body{
    font-family: 'Ubuntu', sans-serif;
    position: relative;
}
.loading-bar-container {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
}
  
.loading-bar {
height: 6px;
background-color: #007bff;
width: 0%;
transition: width 0.3s ease;
}

.white {
    color: white;
}

.favorite {
    color: rgb(245 158 11);
}

.loading-spinner {
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
